<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.bluetoothpolicy" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>pulseBluetoothPolicy</name>
    <description>
        Plugin that updates the plist
    </description>
    <author email="wizardplow@gmail.com" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
	<plugin name="pulseBluetoothPolicy" value="com.alpinelabs.pulseBluetoothPolicy" />
</widget>
